/* static/css/detection.css */

#llm-container {
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
}
.GLTR {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

canvas {
    max-width: 33%;
}
