/* login.css */
/* Add your custom styles specific to the login page */
.container {
    margin-top: 100px;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* Add more styles as needed */