<!-- course.html -->
{% extends 'base.html' %} {% block title %}Course review{% endblock %} {%block
style %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/course.css') }}"
/>
{% endblock %} {% block script %}
<script src="{{ url_for('static', filename='js/course.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#searchInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#results-table tbody tr").filter(function() {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
{% endblock %} {% block content%}
<div class="container">
  <h2 class="mb-3">Course Review</h2>

  <!-- <div class="search-bar">
    <input
      id="search-input"
      type="text"
      class="form-control"
      placeholder="Search Course"
    />
    <button id="search-button" class="btn btn-primary">Search</button>
  </div> -->
  <input type="text" id="searchInput" placeholder="Search course">
  <table class="table mt-4" id="results-table">
    <thead>
      <tr>
        <th>Course</th>
        <th>Student ID</th>
        <th>File</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody id="results-table">
      {% for file in files %}
            <tr>
                <td>{{ file.course }}</td>
                <td>{{ file.student_id }}</td>
                <td>{{ file.input_file }}</td>
                <td>{{ file.detection_result }}</td>
            </tr>
            {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
