<!-- llm_detection.html -->
{% extends 'base.html' %}

{% block title %}LLM Detection{% endblock %}

{% block style %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/detection.css') }}">
{% endblock %}

{% block script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
<script src="{{ url_for('static', filename='js/GLTR.js') }}"></script>
<script src="{{ url_for('static', filename='js/detection.js') }}"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
{% if messages %}
<div class="flash-message">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ messages[0] }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{% endif %}
{% endwith %}
<div class="container">
    <!-- <div class="header-wrapper">
        <h1 class="mt-4">LLM Detection</h1>
        <a href="{{ url_for('login_check') }}" class="btn btn-primary float-right">Logout</a>
    </div> -->
    <div id="llm-container" class="mt-4">
        <!--
            
            <h2 class="mb-3">Enter Text</h2>
            <div class="form-group">
                <textarea id="text-input" class="form-control" rows="5" placeholder="Enter your paragraph"></textarea>
            </div>
            <button id="detect-button" class="btn btn-primary">Detect</button>
            
            <h2 class="mt-4 mb-3">Upload File</h2>
            <form id="upload-file" method="post" enctype="multipart/form-data">
                <fieldset>
                    <input name="file" type="file"  class="form-control">
                </fieldset>
                <fieldset>
                    <button id="upload-file-btn" type="button" class="btn btn-primary">Upload</button>
                    <button id="detect-file-button" typpe = "button"class="btn btn-primary">Detect</button>
                </fieldset>
            </form>
        -->
        <!--
        -->
        <ul class="nav nav-tabs mt-4" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="text-tab" data-bs-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">Text</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="file-tab" data-bs-toggle="tab" href="#file" role="tab" aria-controls="file" aria-selected="false">File</a>
            </li>
        </ul>
    
        <div class="tab-content mt-4" id="myTabContent">
            <div class="tab-pane fade show active" id="text" role="tabpanel" aria-labelledby="text-tab">
                <h2 class="mb-3">Enter Text</h2>
                <div class="form-group">
                    <textarea id="text-input" class="form-control" rows="5" placeholder="Enter your paragraph"></textarea>
                </div>
                <button id="detect-button" class="btn btn-primary">Detect</button>
            </div>
            
            <div class="tab-pane fade" id="file" role="tabpanel" aria-labelledby="file-tab">
                <h2 class="mt-4 mb-3">Upload File</h2>
                <form id="upload-file" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <input name="file" type="file"  class="form-control">
                    </fieldset>
                    <fieldset>
                        <button id="detect-file-button" type ="button" class="btn btn-primary">Detect</button>
                    </fieldset>
                </form>
            </div>
        </div> 

        
        
        <div id="result" class="mt-4"></div>
        <div id="percentage" class="mt-4"></div>
        <div id="watermark" class="mt-4"></div>
        <label class="form-check-label" for="flexSwitchCheckDefault">GLTR Results</label>

      

        <div class="GLTR">
            <div class="GLTR_Charts">
                <canvas id="topKCount"></canvas>
                <canvas id="fracPHistogram"></canvas>
                <canvas id="top10Entropy"></canvas>
            </div>
            <div id="colorTextBox"></div>
        </div>

        <div id="ensemble_result" class="mt-4"></div>
        <label class="form-check-label" for="llm_detailed_result_switch">Show Ensemble LLM Detection Detailed Results</label>
        
        <div class="ensemble_detector">
            <div id="detailed_result"></div>

        </div>



    </div>
</div>
{% endblock %}