<!-- login.html -->
{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block style %}
    <!-- Add the link to the login.css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block script %}
    <!-- Add the link to the login.js file -->
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Login</h2>
                <form action="{{ url_for('login_check') }}" method="POST" id="login-form">
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                </form>
            </div>
            <div class="col-md-6">
                <h2>Create Account</h2>
                <p>Don't have an account? Click below to create one.</p>
                <a href="{{ url_for('register') }}" class="btn btn-primary">Create Account</a>
            </div>
        </div>
    </div>
{% endblock %}